@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-section {
  position: relative;
  padding-top: calc(1vw + 1vh);
  padding-bottom: calc(1vw + 1vh);
  padding-left: calc(1vw + 1vh);
  padding-right: calc(1vw + 1vh);
  min-height: 70vh;
}
.main-section .crud-section {
  display: flex;
  flex-direction: column;
}
.main-section .crud-section form fieldset {
  display: flex;
  flex-direction: column;
  gap: calc(0.6vw + 0.6vh);
}
.main-section .crud-section form fieldset input {
  border-radius: calc(0.4vw + 0.4vh);
  padding-left: calc(0.2vw + 0.2vh);
}
.main-section .crud-section form fieldset .form-actions {
  display: flex;
  justify-content: end;
  margin-bottom: calc(1vw + 1vh);
}
.main-section .crud-section form fieldset .form-actions div button {
  padding-left: calc(0.4vw + 0.4vh);
  padding-right: calc(0.4vw + 0.4vh);
  border: none;
  background-color: #64ff27;
  color: white;
}